In [1]:
# Download ERA5 data from ECMWF cia cdsapi: https://confluence.ecmwf.int/display/CKB/ERA5%3A+data+documentation
# (requires Copernicus API key; see here for setup: https://cds.climate.copernicus.eu/api-how-to)

import cdsapi  
  
c = cdsapi.Client()  
  
c.retrieve(  
    'reanalysis-era5-single-levels',  
    {  
        'product_type': 'reanalysis',  
        'format': 'netcdf',  
        'variable': [  
            '10m_u_component_of_wind',  # Near-surface wind speed (u-component)  
            '10m_v_component_of_wind',  # Near-surface wind speed (v-component)  
            '2m_temperature',  # Near-surface air temperature  
            'surface_pressure',  # Surface air pressure  
            '2m_dewpoint_temperature',  # Near-surface specific humidity (dewpoint_temperature)  
            'surface_net_solar_radiation',  # Surface downwelling shortwave radiation  
            'surface_net_thermal_radiation',  # Surface downwelling longwave radiation  
            'total_precipitation',  # Rainfall flux + Snowfall flux  
            'orography',  # Grid-point altitude  
        ],  
        'year': '2018',  
        'month': '01',  
        'day': '01',  
        'time': '23',  # Replace with the desired time in the format HH  
        #'area': [North, West, South, East],  # Replace with the desired bounding box coordinates  
        'grid': [0.1, 0.1],  # Replace with the desired grid resolution  
    },  
    'era5.nc')  # Specify the output file name

2023-07-20 10:14:19,577 INFO Welcome to the CDS
2023-07-20 10:14:19,579 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-07-20 10:14:19,904 INFO Request is queued
2023-07-20 10:14:21,093 INFO Request is running
2023-07-20 10:15:36,525 INFO Request is completed
2023-07-20 10:15:36,527 INFO Downloading https://download-0000-clone.copernicus-climate.eu/cache-compute-0000/cache/data8/adaptor.mars.internal-1689873329.424721-14892-6-b4206071-fb59-4d70-9510-21a881aa14b9.nc to era5.nc (99M)
2023-07-20 10:16:13,395 INFO Download rate 2.7M/s

Result(content_length=103762212,content_type=application/x-netcdf,location=https://download-0000-clone.copernicus-climate.eu/cache-compute-0000/cache/data8/adaptor.mars.internal-1689873329.424721-14892-6-b4206071-fb59-4d70-9510-21a881aa14b9.nc)

In [1]:
import xarray as xr

ds = xr.open_dataset("era5.nc")
ds = ds.assign_coords(longitude=((ds.longitude + 180) % 360) - 180)

In [2]:
df = ds.to_dataframe().reset_index()

In [3]:
df

,longitude,latitude,time,u10,v10,t2m,sp,d2m,ssr,str,tp
0,0.000000,90.000000,2018-01-01 23:00:00,0.148169,0.151309,250.023758,100894.375000,247.651260,0.125,-140797.375000,0.000004
1,0.000000,89.900002,2018-01-01 23:00:00,-1.228602,-0.606401,250.191162,100877.460938,247.838287,0.125,-151145.093750,0.000005
2,0.000000,89.800003,2018-01-01 23:00:00,-2.605374,-1.364111,250.359818,100860.546875,248.024139,0.125,-161492.828125,0.000005
3,0.000000,89.699997,2018-01-01 23:00:00,-3.299186,-1.761598,250.560959,100845.320312,248.213531,0.125,-163051.703125,0.000006
4,0.000000,89.599998,2018-01-01 23:00:00,-3.310715,-1.798863,250.797089,100833.484375,248.405289,0.125,-155808.296875,0.000007
...,...,...,...,...,...,...,...,...,...,...,...
6483595,-0.099976,-89.599998,2018-01-01 23:00:00,-1.080074,-5.412329,248.367172,69873.984375,244.598465,269553.250,-309263.718750,0.000000
6483596,-0.099976,-89.699997,2018-01-01 23:00:00,-0.861689,-5.577949,248.345932,69791.093750,244.596100,270782.500,-309975.937500,0.000000
6483597,-0.099976,-89.800003,2018-01-01 23:00:00,-0.533435,-4.493140,248.325943,69709.906250,244.592545,272011.750,-310473.187500,0.000000
6483598,-0.099976,-89.900002,2018-01-01 23:00:00,-0.093274,-2.158494,248.305954,69631.250000,244.584259,273299.500,-310768.843750,0.000000
6483599,-0.099976,-90.000000,2018-01-01 23:00:00,0.346207,0.175560,248.284714,69552.593750,244.577164,274470.250,-311051.031250,0.000000

In [4]:
6483600 * 0.01

64836.0

In [15]:
sample1 = df.sample(5)

In [16]:
sample1

,longitude,latitude,time,u10,v10,t2m,sp,d2m,ssr,str,tp
4284915,-122.100006,56.400002,2018-01-01 23:00:00,3.622653,2.261777,261.801025,92251.429688,257.869080,158805.250,-219157.875000,0.000000
5928465,-30.899994,-47.400002,2018-01-01 23:00:00,7.822146,-4.044784,282.628265,100309.101562,280.359619,0.125,-276124.125000,0.000001
2777921,154.200012,12.100000,2018-01-01 23:00:00,-6.666511,0.490238,300.650818,101123.578125,295.380951,1617495.125,-246088.828125,0.000000
4085850,-133.200012,-28.200001,2018-01-01 23:00:00,3.143157,-6.410188,297.291443,101419.601562,294.219727,2381902.500,-133486.765625,0.000141
5082897,-77.799988,42.500000,2018-01-01 23:00:00,4.974331,0.810239,259.604736,96771.234375,256.574097,0.125,-192011.890625,0.000080

In [17]:
'[' + ', '.join([f"[{x[0]}, {x[1]}]" for x in sample1[['longitude','latitude']].values]) + ']'

'[[-122.10000610351562, 56.400001525878906], [-30.899993896484375, -47.400001525878906], [154.20001220703125, 12.100000381469727], [-133.20001220703125, -28.200000762939453], [-77.79998779296875, 42.5]]'

In [18]:
sample1.t2m.values

array([261.80103, 282.62827, 300.65082, 297.29144, 259.60474],
      dtype=float32)

In [19]:
sample2 = df.sample(20)

In [20]:
'[' + ', '.join([f"[{x[0]}, {x[1]}]" for x in sample2[['longitude','latitude']].values]) + ']'

'[[-73.39999389648438, -8.300000190734863], [-158.79998779296875, -82.5], [-126.60000610351562, 45.900001525878906], [47.5, 68.5999984741211], [5.8000030517578125, 23.899999618530273], [-93.70001220703125, -30.200000762939453], [-16.0, -65.9000015258789], [20.199996948242188, -19.0], [-157.10000610351562, -38.79999923706055], [82.29998779296875, 74.30000305175781], [-39.0, -54.099998474121094], [-102.0, 2.700000047683716], [103.20001220703125, -12.399999618530273], [-104.39999389648438, -76.30000305175781], [36.100006103515625, 51.20000076293945], [45.80000305175781, -37.900001525878906], [138.0, -28.600000381469727], [-29.70001220703125, 8.600000381469727], [6.1999969482421875, 3.799999952316284], [118.20001220703125, 52.20000076293945]]'

In [24]:
sample2.t2m.values

array([299.85004, 263.69122, 282.3397 , 271.67932, 282.63202, 295.0102 ,
       272.48636, 296.80795, 289.1859 , 264.16595, 275.94946, 297.2652 ,
       300.00995, 261.84225, 275.381  , 291.80072, 298.3571 , 298.52576,
       299.5502 , 249.4978 ], dtype=float32)